<nav class="breadcrumbs">
  <%= link_to "Settings", "" %>
</nav>

<div class="main_content">
  <form>
    <div class="row collapse">
      <span class="your-prefix-class">Label</span>
      <input type="text" class="your-input-class" placeholder="Value">
    </div>
  </form>
</div> 
