<div class="large-8 columns">
  <div class="articles">
    <%= render partial: "article" %>
  </div>
  <%= paginate @articles %>
</div>
<div class="large-4 columns">
  <section class="sidebar">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Search">
      </div>
      <div class="small-2 columns">
        <a href="#" class="button prefix"><i class="foundicon-search"></i></a>
      </div>
    </div>
  </section>

  <section class="sidebar">
    <%= render "categories/category" %>
  </section>

  <section id="hot_article" class="sidebar">
    <%= render "hot_article" %>
  </section>

  <section id="comments" class="sidebar">
    <h4>Recent Comments</h4>
    <ul class="side-nav">
      <li class="divider"></li>
    </ul>
  </section>
</div>
<!--
<ul class="button-group right">
  <li><a href="#" class="small button secondary"></a></li>
  <li><a href="#" class="small button secondary"></a></li>
</ul>
-->
