<div class="panel">
  <div class="section_content">
    <section>
      <p class="title"><a href="/admin/dashboard">Dashboard</a></p>
      <div class="content"></div>
    </section>
    <section>
      <p class="title"><a href="/admin/articles">Articles</a></p>
      <div class="content">
      </div>
    </section>
  </div>
</div>
