<p>MLOG is a site for recording something useful or intererting. And you can post article with markdown.</p>

<p>It is available on <a href="https://github.com/rongmic/mlog" target="_blank"><b>github</b></a>, you can fork it.</p>
