/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require admin/foundation_and_overrides
 */

@import 'foundation';

#sidenav {
  border-top: 1px solid #CCC;
  section {
    background: #EEE;
    p {
      border: 1px solid #CCC;
      border-top: 0;
      margin: 0;
      padding: 0;
      a {
        padding: 0.6em 1.75em;
        color: #333333;
        font-size: 0.875em;
        background: none;
        display: block;
        &:hover {
          background: #DDD;
        }
      }
    }
    .content {
      background: #FFF;
      border: 1px solid #CCC;
      border-top: 0;
      .subnav {
        padding: 0.6em 2em;
        ul {
          margin: 0;
          font-size: 14px;
          li {
            list-style: none;
          }
        }
      }
    }
  }
}

nav.breadcrumbs {
  margin-bottom: 20px;
}

.content table {
  border: 0;
}

.main_content {
  padding: 0 20px;
}

form.custom {
  //padding: 20px;
  .submit-panel {
    margin-top: 1.25em;
  }
}

.btn_new_article {
  z-index: 9999;
}
