<table>
  <thead>
    <tr>
      <th width="10%">Num</th>
      <th width="30%">Category Name</th>
      <th width="40%">Created At</th>
      <th colspan="2" width="20%"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= category.name %></td>
      <td><%= category.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><a href="javascript:;" class="edit_category">Edit</a></td>
      <td><%= link_to "Delete", admin_category, remote: true, method: "delete", class: "del" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
