<div class="row">
  <div class="large-12 columns">
    <a class=" button">New Category</a>
  </div>
</div>
<%= form_for @category, url: admin_categories_path, html: {class: "custom"} do |f| %>
  <fieldset>
    <legend>New Category</legend>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="large-10 columns">
            <%= f.text_field :name, placeholder: "Category Name" %>
            <small class="error show-for-small">Category name required</small>
          </div>
          <div class="small-2 columns">
            <%= f.submit "Save", class: "small button postfix" %>
            <%# link_to "Save", @category, remote: true, class: "button postfix" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<% end %>
