<nav class="breadcrumbs">
  <%= link_to "Category", admin_categories_path %>
</nav>

<div class="main_content">
  <div class="row">
    <div class="large-8 columns">
      <%= render 'category_list' %>
    </div>
    <div class="large-4 columns">
      <%= render 'form' %>
    </div>
  </div>
</div>
