/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
@import 'foundation-icons';

.inner {max-width: 75%;float:left;}
figure {margin:0;padding:0}
figure figcaption {color:#CBCBCB;font-style:italic;padding-top:4px;}
/*footer {border-top: 1px solid #F1F1F1;
padding: 2em 0 4em;
margin-top: 6em;
}
*/
