<h4>Categories</h4>
<ul class="side-nav">
  <% @categories.each do |category| %>
    <li>
      <%= link_to(category) do %>
        <%= category.name %> <kbd><%= category.articles_count %></kbd>
      <% end %>
    </li>
    <li class="divider"></li>
  <% end %>
</ul>

